<h1><a href = "/home.html"> PC Buildr Beta</a></h1>
<h2 class = "text-center">What will you be using your computer for?</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 content">
            <div class="row">
                <div class="col-sm-4">
                    <a href = "specs.html?type=casual" class="object">
                        <img src="./images/casual-green.png" alt="..." class="img-rounded">
                        <p class="bump">Causal: For businesses, light computer users and anyone in-between, these PCs focus on affordability, quietness and space efficiency.</p>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href = "specs.html?type=gaming" class="object">
                        <img src="./images/gaming-red.png" alt="..." class="img-rounded">
                        <p class="bump">Gaming: Exploring virtual nuclear wastelands to playing as an assassin in revolutionary America, these PCs focus on providing the most enjoyable experience while gaming with a focus on graphical performance.</p>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href = "specs.html?type=professional" class="object">
                        <img src="./images/professional-blue.png" alt="..." class="img-rounded">
                        <p class="bump">Professional: Rendering 3D models, computing math equations beyond human comprehension and working beyond the volume of most computer components, these PCs excel in providing top of the line performance with a focus in both graphics and processing.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>