<h1>Fuck yea bois</h1>
<h2 class = "text-center">What will you be using your computer for?</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 content">
            <div class="row">
                <div class="col-md-4">
                    <a href = "specs.html?type=casual" class="object">
                        <img src="..." alt="..." class="img-rounded">
                        <p>BLAH BLAH BLAH CASUAL USE ONLY</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href = "specs.html?type=gaming" class="object">
                        <img src="..." alt="..." class="img-rounded">
                        <p>BLAH BLAH BLAH PC MASTER RACE</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href = "specs.html?type=professional" class="object">
                        <img src="..." alt="..." class="img-rounded">
                        <p>BLAH BLAH BLAH SUPER EXPENSIVE PROFESSIONALS AND STUFF</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>