<h1><a href = "/home.html"> PC Buildr Alpha</a></h1>
<% price = params[:price].to_i%>
<% processor = (price * params[:processor].to_f)/100 %>
<% graphics = (price * params[:graphics].to_f)/100 %>
<% storage = (price * params[:storage].to_f)/100 %>
<% size = params[:case] %>
<h2 class="text-center">The Results Are In!</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 content">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="text-center">CPU:</h4>
                    <p class="text-center">For more information about your cpu, click here.</p>
                    <h4 class="text-center">CPU Cooler:</h4>
                    <p class="text-center">The CPU is the hottest component of your computer that requires cooling. The cooler your cpu is, the better it will perform and the longer it will last. With this cooler, your cpu will be at a cool temperature for what you want to do.</p>
                    <h4 class="text-center">RAM:</h4>
                    <p class="text-center">Random Access Memory (RAM) is what helps your cpu perform tasks. With [insert gb of ram here] you will be able to [enter criterion here].</p>
                    <h4 class="text-center">SSD:</h4>
                    <p class="text-center">The Solid State Drive (SSD) is where your operating system will be stored on. </p>
                    <h4 class="text-center">HDD:</h4>
                    <p class="text-center">This is where the rest of your information will be stored on. This hard drive will be able to store [insert number] of songs. </p>
                    <h4 class="text-center">Case:</h4>
                    <p class="text-center">The case is what protects your computer components and is what you see.</p>
                    <h4 class="text-center">GPU:</h4>
                    <p class="text-center">Your graphical processing unit (GPU) is fundamental for displaying what is on your screen. With the current processor you have, this is what you will be able to play at 60fps (description here). For more information about your GPU [click here].</p>
                    <h4 class="text-center">Motherboard:</h4>
                    <p class="text-center">Your motherboard is what enables your computer components to communicate with each other. Your current motherboard can (description here).</p>
                    <h4 class="text-center">PSU:</h4>
                    <p class="text-center">The power supply is what powers your computer on and connects it to an outlet.</p>
                    <h4 class="text-center">Other info:</h4>
                    <p class="text-center">other info (ports, bluetooth, ect.) here</p>
                </div>
                <div class = "col-sm-9">
                    <h3 class="text-center">Mid-range gaming pc: $700</h3>
                    <img src = "http://ironsidecomputers.com/images/aeolus_front.png" class="center">
                    <hr>
                    <p>This computer will do moderately well playing Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="row buttons">
                <a href="size.html" class="col-sm-1 col-sm-offset-1"><button class="btn btn-default">BACK</button></a>
                <a href="#" class="col-sm-1 col-sm-offset-8"><button class="btn btn-default">CHECKOUT</button></a>
            </div>
        </div>
    </div>
</div>