<h1>Results bois</h1>
<h2 class="text-center">The Results Are In!</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 content">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="text-center">CPU:</h4>
                    <p class="text-center">cpu specs here</p>
                    <h4 class="text-center">RAM:</h4>
                    <p class="text-center">ram specs here</p>
                    <h4 class="text-center">Memory:</h4>
                    <p class="text-center">memory specs here</p>
                    <h4 class="text-center">Case:</h4>
                    <p class="text-center">case specs here</p>
                    <h4 class="text-center">GPU:</h4>
                    <p class="text-center">gpu specs here</p>
                    <h4 class="text-center">Board:</h4>
                    <p class="text-center">board specs here</p>
                    <h4 class="text-center">PSU:</h4>
                    <p class="text-center">psu specs here</p>
                    <h4 class="text-center">Other info:</h4>
                    <p class="text-center">other info (ports, bluetooth, ect.) here</p>
                </div>
                <div class = "col-sm-9">
                    <h3 class="text-center">Mid-range gaming pc: $700</h3>
                    <img src = "http://ironsidecomputers.com/images/aeolus_front.png" class="center">
                    <hr>
                    <p>This computer will do moderately well playing Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="row buttons">
                <a href="size.html" class="col-sm-1 col-sm-offset-1"><button class="btn btn-default">BACK</button></a>
                <a href="#" class="col-sm-1 col-sm-offset-8"><button class="btn btn-default">CHECKOUT</button></a>
            </div>
        </div>
    </div>
</div>