<h1>Size bois</h1>
<h2 class="text-center">Size matters</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 content">
            <div class="row">
                <form>
                    <label> 
                        <div class="col-sm-3 option">
                            <input type='radio' name='answer_id' value='313'>
                            <h4 class="text-center">Mini ITX</h4>
                            <img src="http://cdn5.thinkcomputers.org/wp-content/uploads/2014/12/cooltek-umx1-1.jpg" alt="..." class="center">
                            <p>BLAH BLAH BLAH SMALL</p>
                        </div>
                    </label>
                    <label> 
                        <div class="col-sm-3 option">
                            <input type='radio' name='answer_id' value='313'>
                            <h4 class="text-center">Micro ATX</h4>
                            <img src="https://files.pccasegear.com/images/PARV-S20-BKRED-th.jpg" alt="..." class="center">
                            <p>BLAH BLAH BLAH STILL SMALL</p>
                        </div>
                    </label>
                    <label> 
                        <div class="col-sm-3 option">
                            <input type='radio' name='answer_id' value='313'>
                            <h4 class="text-center">ATX Mid</h4>
                            <img src="https://cdn.pcpartpicker.com/static/forever/images/product/c667d5e741484f8dab12c1c71c2dd155.med.256p.jpg" alt="..." class="center">
                            <p>BLAH BLAH BLAH MEDIUM</p>
                        </div>
                    </label>
                    <label > 
                        <div class="col-sm-3 option">
                            <input type='radio' name='answer_id' value='313'>
                            <h4 class="text-center">ATX Full</h4>
                            <img src="http://guideimg.alibaba.com/images/shop/101/12/24/1/nzxt-phantom-crafted-series-atx-full-tower-steel-chassis-red_2193531.jpg" alt="..." class="center">
                            <p>BLAH BLAH BLAH REGULAR SIZE</p>
                        </div>
                    </label>
                </form>
            </div>
            <div class-"row">
                <img src="http://www.buildcomputers.net/images/computer-case-sizes.jpg" class="center">
            </div>
            <div class="row buttons">
                <a href="specs.html" class="col-sm-1 col-sm-offset-1"><button class="btn btn-default">BACK</button></a>
                <a href="results.html" class="col-sm-1 col-sm-offset-8"><button class="btn btn-default">NEXT</button></a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('input:radio').change(function(){
            var $this = $(this);
            // Only remove the class in the specific `box` that contains the radio
            $('.highlight').removeClass('highlight');
            $this.closest('div').addClass('highlight');
        });
    });
</script>