<h1><a href = "/home.html"> PC Buildr Alpha</a></h1>
<h2 class="text-center">Customize your build</h2>
<% if params[:type] == "casual"
        $start_price = 400 
        $end_price = 1000
    elsif params[:type] == "gaming"
    $start_price = 600
    $end_price = 4000
else
    $start_price = 1500
    $end_price = 25000
    end %>
<% $iterator = $end_price %>
<% $increment = ($end_price - $start_price) / 10 %>
<div class="container-fluid">
    <div class="row">
        <div class = "col-md-8 col-md-offset-2 content">
            <form action="size.html">
                <div class="row">
                    <input id="type-input" type="hidden" name="type" value = <%= params[:type] %> />
                    <div class="col-sm-4">
                        <div class = "row">
                            <h4 class="text-center">Price</h4>
                            <div class="col-sm-4 col-sm-offset-2">
                                <input id="price-input" type="hidden" name="price" />
                                <div id="sidebar"></div>
                            </div>
                            <div class="col-sm-4 price">
                                <!--
                                <p>
                                    $1600
                                </p>
                                <p>
                                    $1500
                                </p>
                                <p>
                                    $1400
                                </p>
                                <p>
                                    $1300
                                </p>
                                <p>
                                    $1200
                                </p>
                                <p>
                                    $1100
                                </p>
                                <p>
                                    $1000
                                </p>
                                <p>
                                    $900
                                </p>
                                <p>
                                    $800
                                </p>
                                <p>
                                    $700
                                </p>
                                -->
                                <% while $iterator >= $start_price do %>
                                <p><%= $iterator%></p>
                                <% $iterator -= $increment %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3>Move the sliders below to adjust your computer's specs to your liking</h3>
                        <h4>Processor</h4>
                        <input id="processor-input" type="hidden" name="processor" />
                        <div id="slider1" class="slider"></div>
                        <div class="desc1">
                            <p>
                                Your central processing unit, or CPU, is responsible for completing tasks that you desire and running programs. By increasing the emphasis on processing (sliding the bar to the right), you are improving the speed and amount of tasks your computer can process. At this emphasis, you will be able to (insert description here). 
                            </p>
                        </div>
                        <h4>Graphics</h4>
                        <input id="graphics-input" type="hidden" name="graphics" />
                        <div id="slider2" class="slider"></div>
                        <div class="desc2">
                            <p>
                                In today’s world of computers, it is required to provide 3D realism. Graphics is what provides this realism. By increasing the emphasis on graphics (sliding the bar to the right), you are improving the rate at which this realism is displayed. The standard of today is  60 frames per second (FPS). At this emphasis, you will be able to play (insert game here) at 60fps. 
                            </p>
                        </div>
                        <h4>Storage</h4>
                        <input id="storage-input" type="hidden" name="storage" />
                        <div id="slider3" class="slider"></div>
                        <div class="desc3">
                            <p>
                                Your storage space is where all your files are kept. All gaming computers come with a solid state drive (SSD) for your operating system (Windows for example) for super fast speeds and can additionally add hard drives (HDD) for more storage space. For reference, we are using songs to scope size. 250 3 minute songs take up 1gb of space. On your current storage emphasis, you have (insert description here). 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row buttons">
                    <a href="home.html" class="col-sm-1 col-sm-offset-1"><button class="btn btn-default">BACK</button></a>
                    <button type="submit" class="btn btn-default col-sm-1 col-sm-offset-8">NEXT</button>
                </div>
            </form>    
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       $( "#sidebar" ).slider({
        	min: <%= $start_price %>,
        	max: <%= $end_price %>,
        	step: 100,
        	animate: true,
        	orientation: "vertical",
            value: 1000,
            animate: true,
        	change: function( event, ui ) {
                $('#price-input').val(ui.value);
        	    $("#info").text('Slider = ' + ui.value);
        	}
        });
    });
</script>
<script>
    $(document).ready(function(){
       $( ".slider" ).slider({
        	min: 1,
        	max:100,
        	step:1,
            animate: true,
            value: 33,
        	change: function( event, ui ) {
        	    $("#info").text('Slider = ' + ui.value);
        	}
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#show").click(function(){
            $("p").show();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('.slider').slider().on({
         slidechange: function(event, ui) {
                var id = this.id;
                if(id=='slider1') {
                    $('#processor-input').val(ui.value);
                    $(' .desc1').show();
                    $(' .desc2').hide();
                    $(' .desc3').hide();
                }
                if(id=='slider3') {
                    $('#storage-input').val(ui.value);
                    $(' .desc3').show();
                    $(' .desc2').hide();
                    $(' .desc1').hide();
                }
                if(id=='slider2') {
                    $('#graphics-input').val(ui.value);
                    $(' .desc2').show();
                    $(' .desc3').hide();
                    $(' .desc1').hide();
                }
            }
        });
    });
</script>
<script>
    $(document).ready(function(){
          $(' .slider ').linkedSliders();
    });
</script>