<h1>Specs bois</h1>
<h2 class="text-center">Customize your build</h2>
<div class="container-fluid">
    <div class="row">
        <div class = "col-md-8 col-md-offset-2 content">
            <div class="row">
                <div class="col-sm-4">
                    <div class = "row">
                        <div class="col-sm-8 col-sm-offset-2">
                            <h4>Price</h4>
                            <div id="sidebar"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3>Move the sliders below to adjust your computer's specs to your liking</h3>
                    <h4>Processor</h4>
                    <div id="slider1" class="slider"></div>
                    <div class="desc1">
                        <p>
                            BLAH BLAH NUMBER ONE
                        </p>
                    </div>
                    <h4>Graphics</h4>
                    <div id="slider2" class="slider"></div>
                    <div class="desc2">
                        <p>
                            BLAH BLAH NUMBER TWO
                        </p>
                    </div>
                    <h4>Storage</h4>
                    <div id="slider3" class="slider"></div>
                    <div class="desc3">
                        <p>
                            BLAH BLAH NUMBER THRREE
                        </p>
                    </div>
                </div>
            </div>
            <div class="row buttons">
                <a href="home.html" class="col-md-1 col-md-offset-1"><button class="btn btn-default">BACK</button></a>
                <a href="size.html" class="col-md-1 col-md-offset-8"><button class="btn btn-default">NEXT</button></a>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
       $( "#sidebar" ).slider({
        	min: 1,
        	max:6,
        	step:.5,
        	orientation: "vertical",
        	change: function( event, ui ) {
        	    $("#info").text('Slider = ' + ui.value);
        	}
        });
    });
</script>
<script>
    $(document).ready(function(){
       $( ".slider" ).slider({
        	min: 1,
        	max:6,
        	step:.5,
        	change: function( event, ui ) {
        	    $("#info").text('Slider = ' + ui.value);
        	}
        });
    });
</script>
<script>
    $(document).ready(function(){
        $("#show").click(function(){
            $("p").show();
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('.slider').slider().on({
            
            // change: function() {
            //   alert('change triggered');
            // },
            slidechange: function() {
                var id = this.id;
                if(id=='slider3') {
                    $(' .desc3').show();
                    $(' .desc2').hide();
                    $(' .desc1').hide();
                }
                if(id=='slider2') {
                    $(' .desc2').show();
                    $(' .desc3').hide();
                    $(' .desc1').hide();
                }
                if(id=='slider1') {
                    $(' .desc1').show();
                    $(' .desc2').hide();
                    $(' .desc3').hide();
                }
            }
        });
    });
</script>