<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/jquery.linkedsliders.min.js"></script>
  <!--<link href="./stylesheets/styles.css" media="all" rel="stylesheet" type="text/css" />-->
  <%= csrf_meta_tags %>
  <style>
    @font-face {
      font-family: GraublauWeb;
      src: url("path-to-the-font-file/GraublauWeb.otf") format("opentype");
    }
    body {
      /*font-family: "Avenir Next";*/
      background-color: rgb(8,28,38);
    }
    h1 {
      color: white;
      margin-left: 40px;
    } 
    h2, h3, h4, p, label {
      color: white;
    }
    /*.ui-corner-all {*/
    /*  height: 100px;*/
    /*}*/
    /*.slider {*/
    /*  width: 30%;*/
    /*}*/
    .desc2, .desc3 {
      display: none;
    }
    .content {
      background-color: rgb(13,56,77);
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
    }
    .buttons {
      margin-top: 15px;
    }
    input[type="radio"]{
      visibility:hidden;
    }
    .highlight{
      background-color:rgb(20,84,115);
      border-radius:10px;
    }
    .option {
      height: 100%;
    }
    label {
      display: block;
    }
    img {
      max-width: 100%;
    }
    .center {
      margin-left: auto;
      margin-right: auto;
      text-align:center;
      width:100%;
      display:block;
    }
    .option>h4 {
      margin-top:0px;
    }
    .ui-slider-vertical {
      height: 220px;
    }
    .scale {
      height: 100%;
    }
    .price>p {
      margin-bottom:0px;
    }
    .ui-slider {
      border: 1px solid #888888 !important;
      background: #AAAAAA !important;
    }
    .ui-slider-handle {
      border: 1px solid #444444 !important;
      background: #666666 !important;
    }
    .bump {
      margin-top: 10px;
    }
    .padd {
      padding: 0px 10px;
    }
    .desc {
      background-color:rgb(20,84,115);
      border-radius:10px;
      padding: 10px;
      margin-top:15px;
    }
    .nobottom {
      margin-bottom: 0px;
    }
    .arrow-up {
    	width: 0; 
    	height: 0; 
    	border-left: 15px solid transparent;
    	border-right: 15px solid transparent;
    	border-bottom: 20px solid rgb(20,84,115);
    	position:absolute;
    }
    .bring-left {
      padding-left: 5px;
    }
    /*.arrow-up:after {*/
    /*  width: 0;*/
    /*  height: 0;*/
    /*  border-top: 15px solid red;*/
    /*  content: "";*/
    /*  position:absolute;*/
    /*  top:10px;*/
    /*  left:10px;*/
    /*}*/
    .slider {
      position:relative;
      margin-right: 10px;
      margin-left: 10px;
    }
    .hide {
      display: none;
    }
    @media (max-width: 992px) {
      .container-fluid {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
</style>
</head>
<body>
  <%= yield %>
</body>
</html>
